body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

pre {
  font-size: 85%;
  font-family: Consolas, Menlo, "Dejavu Sans Mono", monospace;
}

.log-error {
  color: Red;
}

.log-warn {
  color: Orange;
}

.log-info {
  color: DarkSlateGray;
}

.log-debug {
  color: Black;
}

.log-verbose {
  color: Gray;
}

.log-default {
  color: DimGray
}

.rich-log-item {
  margin: 0px;
  padding: 0px;
}

#code-pane {
  padding: 5 0 0 10;
}